<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.user.mapper.UserMapper">

  <!--查询是否存在同名用户 0则表示没有同名-->
	<select id="selectUserCountByUserName" parameterType="String" resultType="int">
    select count(user_id) from user where user_name=#{userName};
    </select>

    <!--登录操作  -->
	<select id="selectUserByUserNameAndPassword" parameterType="User" resultType="User">
    	select * from user where user_name=#{userName} and user_password=#{userPassword};
    </select>


	<!--注册-->
	<insert id="insertUser" parameterType="User">
    insert into user (
		user_id,
		user_name,
		user_password,
		user_email,
		user_nickname) values(
		#{userId},
		#{userName},
		#{userPassword},
		#{userEmail},
		#{userNickname})
    </insert>


</mapper>